* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  background: #fdfff4;
  font-family: 'Berkeley Mono', monospace;
}

.menu {
  width: 200px;
  height: 100vh;
  background: #546e70;
  font-size: 20px;
  float: left;
  position: fixed;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
}

.menu-logo {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #fdfff4;
  padding: 24px 0 12px 0;
  letter-spacing: 2px;
  margin-bottom: 12px;
}

.menu > a {
  position: relative;
  top: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 80%;
  height: 50px;
  float: right;
  border-radius: 10px 0 0 10px;
  margin-top: 20px;
  line-height: 50px;
  transition: color .5s;
  color: #fdfff4;
  padding-left: 5px;
}

.menu > a.active {
  color: #2a2a2a;
  background-color: #fdfff4;
}

.menu > a::after, .menu > a::before {
  content: '';
  position: absolute;
  top: -50px;
  right: 0;
  width: 20px;
  height: 50px;
  border-radius: 0 0 25px 0;
  z-index: -1;
}

.menu > a::before {
  top: auto;
  bottom: -50px;
  border-radius: 0 25px 0 0;
}

.menu > a.active::after {
  box-shadow: 0 25px 0 0 #fdfff4;
}

.menu > a.active::before {
  box-shadow: 0 -25px 0 0 #fdfff4;
}